{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
    <div class="post" style="border-bottom:1px solid gray;padding: 20px;">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        Categorii:
        {% for category in post.categories %}
            {{ category.name }}
        {% endfor %}
        <br><br>
        Comentarii: <br>
        {% for comment in post.comments %}
            <div class="comment" style="border:1px solid orange;padding:10px;margin:10px 0;">
                {{ comment.authorName }} ({{ comment.authorEmail }}) a spus: {{ comment.content }}
            </div>
        {% endfor %}
        <div style="background:red;padding:10px;color:white;width:140px">
            <a style="color:white" href="{{ path('blog_bundle_post_delete', {id: post.id}) }}">don't push the button</a>
        </div>
        <div style="background:blue;padding:10px;color:white;width:140px">
            <a style="color:white" href="{{ path('blog_bundle_post_edit', {id: post.id}) }}">edit me</a>
        </div>
    </div>
{% endblock %}
