{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
    {% for post in posts %}
        <div class="post" style="border-bottom: 1px solid gray; padding: 20px;">
            <a href="{{ path('blog_bundle_post_details', {id: post.id}) }}"><h1>{{ post.title }}</h1></a>
            Categorii:
            {% for category in post.categories %}
                {{ category.name }}
            {% endfor %}
            <br>
        </div>
    {% endfor %}
{% endblock %}
